<!DOCTYPE html>
<html>

<head lang="pl">
    <meta charset="UTF-8">
    <title>Formularz do 7b</title>

    <style>
        #panel {
            width: 400px;
            margin: 0 auto;
            display: flex;
            padding: 10px 5px;
            border: 1px solid silver;

        }

        input {
            display: block
        }
    </style>

    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script type="text/javascript"
        src="C:\Users\kobyl\OneDrive\Desktop\Projekty\TIN_projekt\NodeEkspress\views\serializejson.js"></script>
</head>-->

<body>
    <div id="panel">
        <form id="formularz">
            <div class="form-group">
                <label class="label1" for="imie">Imię</label>
                <input type="text" class="form-control" id="d1" name="d1">
            </div>

            <div class="form-group">
                <label class="label1" for="nazwisko">Nazwisko</label>
                <input type="text" class="form-control" id="d2" name="d2">
            </div>

            <div class="form-group">
                <label class="label1" for="tel">nr telefonu</label>
                <input type="text" class="form-control" id="d3" name="d3">
            </div>

            <button type="submit" class="btn">Wyślij</button>
        </form>
    </div>
    <script>
        //na podstawie tutoriala kursjs.pl/kurs/jquery/jquery-ajax.php
        const $form = $('#formularz');

        const $imietytul = $('#imie');
        const $imieWartosc = $('#d1');

        const $nazwiskotytul = $('#nazwisko');
        const $nazwiskoWartosc = $('#d2');

        const $telefonTytul = $('#tel');
        const $telefonWartosc = $('#d3');


        const $submitBtn = $form.find(":submit");

        $form.on("submit", function (e) {
            e.preventDefault();

            //po kliknięciu wyłączam submit i dodaję mu loading
            //   $submitBtn.addClass('loading');
            // $submitBtn.prop('disabled', true);

            const obj = {
                imie: $imieWartosc.val(),
                nazwisko: $nazwiskoWartosc.val(),
                tel: $telefonWartosc.val()
            }
            //$form.serializeJSON()
            //wysyłamy dane

            $.ajax({
                url: '/jsondata',
                method: "post",
                dataType: "json",
                data: {
                    imie: $imieWartosc.val(),
                    nazwisko: $nazwiskoWartosc.val(),
                    tel: $telefonWartosc.val()
                }
            }).done((res) => {
                $("#panel").hide();
                window.location.replace('index_c.hbs')
                $("html").html(res)
            })/*
                .always(function () {
                        //po zakończeniu połączenia włączam submit i wyłączam klasę loading
                        $submitBtn.removeClass('loading');
                        $submitBtn.prop('disabled', false);
                        console.log("json " + JSON.stringify(obj))

                    });*/
        });
    </script>

</body>

</html>