<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Odpowiedź na formularz C</title>

    <style>
        h1 {
            width: 400px;
            margin: 0 auto;
            padding: 10px 5px;
            border: 1px solid silver;
            display: block
        }
    </style>
</head>

<body>
    <h1>Imie: {{imie}} <br>
        Nazwisko: {{nazwisko}} <br>
        Telefon: {{tel}}</h1>
</body>

</html>